@charset "utf-8";
/* CSS Document */
body{
	background:#FF6517;
}

h1{
	font-family:Tahoma, Geneva, sans-serif;
	color:#EEE;
	font-size:50px;
	text-align:center;
	margin:10px;
}

#main{
	width:900px;
	height:800px;
	box-sizing:border-box;
	margin:0 auto;
	background:#FF7F00;
	border:5px solid #FFC341;
}

#listekutu{
	width:25%;
	height:auto;
	background:#EEEEEE;
	box-sizing:border-box;
	margin:30px;
	padding:5px;
	float:left;
	transition:all 1s;
	box-shadow:0px 0px 10px 2px rgba(0,176,178,0.5);
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
}

#listekutu:hover{
	background:#FFF;
	border-radius:15px;
}
								
#tablo{
	border:5px solid #FFC341;
	margin:0px auto;
	color:#EEE;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	background:#FF7F00;
	
}						
#tablo tr{
	border:5px solid #FFC341;
}			
#tablo td{
	border:5px solid #FFC341;
	padding:20px;
}

input[type="text"],input[type="password"],input[type="email"]
{
	width:200px;
	height:25px;
	border:5px solid #FFC341;
	border-radius:3px;
	transition:border 0.3s;
	transition:box-shadow 0.3s;
}

input[type="text"]:focus{
	box-shadow:0px 0px 5px #aaa;
	border:5px solid #FF6517;
	outline:none;
}

input[type="submit"]{
	float:right;
	width:140px;
	height:40px;
	border-radius:5px;
	border:1px solid #cccccc;
	background:url(../img/button.png) no-repeat 5% 20%,
	linear-gradient(to bottom, #ffffff, #EBEBEB)repeat-x;
	font-weight:bold;
	background-color:#ddd;
	;
}

#tablo a{
	text-decoration:none;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFF;
}

#tablo a:hover{
	color:#EEE;
}