@charset "utf-8";
/* CSS Document */


#serch input[type="text"]
{
	width:565px;
	height:25px;
	border:3px solid #FF6517;
	border-radius:3px;
	transition:border 0.3s;
	transition:box-shadow 0.3s;
	font-size:25px;
}

#serch input[type="text"]:focus{
	box-shadow:0px 0px 5px #aaa;
	border:3px solid #FF6517;
	outline:none;
}

#serch input[type="submit"]{
	float:right;
	width:100px;
	height:34px;
	border-radius:30px;
	border:2px solid #FF6517;
	font-weight:bold;
	background-color:#fff;
}

#serch input[type="submit"]:focus{
	border:1px solid #FF6517;
}

								


input[type="text"],input[type="password"],input[type="email"]
{
	width:200px;
	height:25px;
	border:5px solid #FFC341;
	border-radius:3px;
	transition:border 0.3s;
	transition:box-shadow 0.3s;
}

input[type="text"]:focus{
	box-shadow:0px 0px 5px #aaa;
	border:5px solid #FF6517;
	outline:none;
}

input[type="submit"]{
	float:right;
	width:140px;
	height:40px;
	border-radius:5px;
	border:1px solid #cccccc;
	background:url(../img/button.png) no-repeat 5% 20%,
	linear-gradient(to bottom, #ffffff, #EBEBEB)repeat-x;
	font-weight:bold;
	background-color:#ddd;
}

#login-tablo{
	border:3px solid #FF7F00;
	color:#FFFFFF;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	background:#FFC341;
	float:left;
	}
#login-tablo tr{
	border:3px solid #FF7F00;
}
#login-tablo td{
	border:3px solid #FF7F00;
	padding:8px;
	box-sizing:border-box;
}

#login-tablo input[type="text"],input[type="password"],input[type="email"]
{
	width:200px;
	height:25px;
	border:3px solid #FFC341;
	border-radius:3px;
	transition:border 0.3s;
	transition:box-shadow 0.3s;
	
}

#login-tablo input[type="text"]:focus{
	box-shadow:0px 0px 5px #aaa;
	border:3px solid #FF6517;
	outline:none;
}

#login-tablo input[type="submit"]{
	float:right;
	width:140px;
	height:40px;
	border-radius:5px;
	border:3px solid #cccccc;
	background:url(../img/button.png) no-repeat 5% 20%,
	linear-gradient(to bottom, #ffffff, #EBEBEB)repeat-x;
	font-weight:bold;
	background-color:#ddd;
}
								
#register-tablo{
	border:3px solid #FF7F00;
	color:#FFFFFF;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	background:#FFC341;	
	float:left;
}						
#register-tablo tr{
	border:3px solid #FF7F00;
}
#register-tablo td{
	border:3px solid #FF7F00;
	padding:8px;
	box-sizing:border-box;
}

#register-tablo input[type="text"],input[type="password"],input[type="email"]
{
	width:200px;
	height:25px;
	border:1px solid #FFC341;
	border-radius:3px;
	transition:border 0.3s;
	transition:box-shadow 0.3s;
}

#register-tablo input[type="text"]:focus{
	box-shadow:0px 0px 5px #aaa;
	border:1px solid #FF6517;
	outline:none;
}

#register-tablo input[type="submit"]{
	float:right;
	width:140px;
	height:40px;
	border-radius:5px;
	border:3px solid #cccccc;
	background:url(../img/button.png) no-repeat 5% 20%,
	linear-gradient(to bottom, #ffffff, #EBEBEB)repeat-x;
	font-weight:bold;
	background-color:#ddd;
}
